= link_to "Danci Ivan, Tr-1 Demo", root_path, :class => 'brand'
- unless user_signed_in?
  = link_to image_tag("/images/facebook-icon.png", :style => 'vertical-align: middle; width: 22px; height: 22px; margin-top:12px'), user_omniauth_authorize_path(:facebook)

%ul.nav
  %li
    = link_to 'Home', root_path
  - if user_signed_in?
    %li
      = link_to 'List users', registered_users_path
    %li
      = link_to 'Logout', destroy_user_session_path, :method=>'delete'
  - else
    %li
      = link_to 'Login', new_user_session_path
  - if user_signed_in?
    %li
      = link_to 'Edit account', edit_user_registration_path
    - if current_user.has_role? :admin
      %li
        = link_to 'Admin', users_path
  - else
    %li
      = link_to 'Sign up', new_user_registration_path
