:css
  .bottombar {
    position: fixed;
    bottom: 5px;
    }
!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Tr Demo"
      %meta{:content => content_for?(:description) ? yield(:description) : "Tr Demo", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    .navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              = yield
          %footer.bottombar.content
            = link_to image_tag("/banners/rent.jpg", :style => 'vertical-align: middle; width: 940px; height: 90px;'), "http://rent-a-car.com"
      / ! end of .container
    / ! end of #main
